numpy==1.26.4
thinc==8.1.12
spacy==3.4.8
allennlp==2.10.1
allennlp-models==2.10.1
stanza==1.7.0
matplotlib==3.7.1
seaborn==0.12.2
torch==1.12.1+cu113
torchvision==0.13.1+cu113
torchaudio==0.12.1+cu113
